{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": false,
  "semi": false,
  "experimentalTernaries": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "insertPragma": false,
  "printWidth": 130,
  "requirePragma": false,
  "tabWidth": 4,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto"
}
