.container {
  width: 100vw;
  height: 100vh;
  background: url("@/assets/bg/texture.png") repeat;
  background-color: #131124;
}

.container .navbar {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
